{% include "header.html" %}
       <section id="cover">
          <div class="main-head text-center">
            <h1 class="bind-up">Bind your emotions.</h1>
          </div>
          <div class="account">
              <a href="{{ url_for('register') }}"> <button class="btn btn-danger acc">Create account</button></a>
          </div>
       </section>
        <div class="container">
            <div class="swiper">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                <!-- Slides -->
                <div class="card swiper-slide" style="width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title"><b><em>Shannon</em></b></h5>
                      <hr>
                      <p class="card-text">He hit me with one the WORST pick up lines I had ever seen, but being bored at work, I decided to reply. From there we never stopped talking, dating each other and falling deeper in love.</p>
                    </div>
                </div>
                <div class="card swiper-slide" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title"><b><em>Lauren</em></b></h5>
                        <hr>
                        <p class="card-text">I didn't think anything would ever come about from it, but one day I saw this stunning beauty come across the app. I Super Liked her, paying a dollar extra for the Super Like!</p>
                    </div>
                </div>
                <div class="card swiper-slide" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title"><b><em>Elissa</em></b></h5>
                        <hr>
                        <p class="card-text">We were at a crossroads and so after a few months of casually dating, we decided to end things. I was in love, but thought this love story wasn't meant to last. Fast forward 9 months, and we had become inseparable.</p>
                    </div>
                </div>
                <div class="card swiper-slide" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title"><b><em>Courtney & Miranda</em></b></h5>
                        <hr>
                        <p class="card-text">For all the single people out there, especially introverted ones like us: do not be afraid to travel outside of your comfort zone. That’s where you’ll make a genuine connection. Tinder brought us together and for that, I am forever grateful. ❤</p>
                    </div>
                </div>
                <div class="card swiper-slide" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title"><b><em>Rebecca</em></b></h5>
                        <hr>
                        <p class="card-text">I was also adamant the next man I'd be with and commit to, would be the man I'd spend the rest of my life with (just not married). I was very fussy and didn't expect to meet a man on Tinder. I decided to sign up anyways and just match away and see what happened.</p>
                    </div>
                </div>
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>
            
                <!-- If we need navigation buttons -->
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
            
                <!-- If we need scrollbar -->
                <div class="swiper-scrollbar"></div>
            </div>
        </div>
       </section>

{% include "footer.html" %}