{% include "header.html" %}

<section class="py-5 text-center bg-light">
    <div class=" container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-bold lead fs-1">So why choose a dating app like binder?</h1>
                <p class="lead text-body-secondary py-4">Tired of encountering fake profiles? So are we. Our app is dedicated to fostering genuine connections by implementing strict profile verification measures. You can trust that the people you meet here are real, just like you, seeking authentic relationships.</p>
                <p class="lead text-body-secondary py-2">Coffee lover ☕, adventure seeker 🌍, and hopeless romantic ❤️.</p>
                <p>
                    <a href="#" class="btn my-3">Join Now</a>
                </p>
            </div>
        </div>
    </div>

</section>
<section class="content">
<div class="Px(16px) D(f)--ml Fxd(r)--ml Maw(1024px)--ml W(100%) Mx(a) Mb(16px)--ml Mb(12px)">
    <div class="fresnel-container fresnel-at-mobile ">

    </div>
    <div class="fresnel-container fresnel-greaterThan-mobile ">
        <div class="D(f) Fxd(r) Fx($flx1) H(100%)">
            <div class="Fx($flx1) H(100%) Mend(32px)">
                <div class="Py(20px)--ml Py(12px) C($c-ds-text-primary) Cntv(a)--s">
                    <article class="blog-post">
                        <h2 class="">Explore Your Passions</h2>
                        <div class="Typs(body-1-regular) C($c-ds-text-secondary)">It’s easy to chat up a match when you know you have something in common. The Tinder app lets you add Passions to your profile and connect with people who share your interests.</div>
                    </article></div><div class="Mx(-16px)--s Cntv(a)--s">
                <div class="react-aspect-ratio-placeholder" style="--aspect-ratio:(750/965)">
                    <img loading="lazy" alt="" src="https://tinder.com/static/build/build-ssg/static/about-1-11a0e98f7f446f5f6bc3a8517c38fb05.webp">
                </div>
            </div>
                <div class="Py(20px)--ml Py(12px) C($c-ds-text-primary) Cntv(a)--s">
                    <article class="Ta(start) My(20px) My(24px)--ml">
                        <h2 class="Typs(display-2-strong) Ta(c) My(20px) My(24px)--ml Ta(start)--ml">Get Photo Verified on Tinder</h2>
                        <div class="Typs(body-1-regular) C($c-ds-text-secondary)">Photo Verification lets you prove you’re the person in your photos. When you see people on the Tinder app with a blue checkmark, it means they’re the real deal.</div>
                    </article></div><div class="Py(20px)--ml Py(12px) C($c-ds-text-primary) Cntv(a)--s">
                <article class="Ta(start) My(20px) My(24px)--ml">
                    <h2 class="Typs(display-2-strong) Ta(c) My(20px) My(24px)--ml Ta(start)--ml">See Who Likes You</h2>
                    <div class="Typs(body-1-regular) C($c-ds-text-secondary)">There are only so many hours in a day for dating. We get it. A
                        <a class="C($c-ds-text-brand-normal):h Typs(body-1-link) Td(u) focus-outline-style" href="/feature/gold">Tinder Gold™</a> subscription lets you see all the people who Like you, saving you precious time so you can focus on the finer things in life.</div></article></div>
                <div class="Py(20px)--ml Py(12px) C($c-ds-text-primary) Cntv(a)--s">
                    <article class="Ta(start) My(20px) My(24px)--ml">
                        <h2 class="Typs(display-2-strong) Ta(c) My(20px) My(24px)--ml Ta(start)--ml">Make Every Like Count</h2>
                        <div class="Typs(body-1-regular) C($c-ds-text-secondary)">Exclusive to <a class="C($c-ds-text-brand-normal):h Typs(body-1-link) Td(u) focus-outline-style" href="/feature/platinum">Tinder Platinum™</a> subscribers, Priority Likes puts your profile in front of the people you Like faster.</div>
                    </article>
                </div>
                <div class="Mx(-16px)--s Cntv(a)--s">
                    <div class="react-aspect-ratio-placeholder" style="--aspect-ratio:(750/972)">
                        <img loading="lazy" alt="" src="https://tinder.com/static/build/build-ssg/static/about-2-e02b3a2adab191d4777eaf36c35fa1ed.webp">
                    </div>
                </div>
                <div class="Py(20px)--ml Py(12px) C($c-ds-text-primary) Cntv(a)--s">
                    <article class="Ta(start) My(20px) My(24px)--ml">
                        <h2 class="Typs(display-2-strong) Ta(c) My(20px) My(24px)--ml Ta(start)--ml">Endless Possibilities</h2>
                        <div class="Typs(body-1-regular) C($c-ds-text-secondary)">With more than 55 billion matches to date, we’re no stranger to bringing singles together online. Some sites, like Hinge and eharmony, are designed for long-term relationships, but on the Tinder app, we’re all about the experience and offer possibilities for whatever it is you’re looking for.</div>
                    </article>
                </div>
            </div>
            <div class="Fx($flx1) H(100%) Mstart(32px)">
                <div class="Py(20px)--ml Py(12px) C($c-ds-text-primary) Cntv(a)--s">
                    <article class="Ta(start) My(20px) My(24px)--ml">
                        <h2 class="Typs(display-2-strong) Ta(c) My(20px) My(24px)--ml Ta(start)--ml">Roll With Us Anywhere</h2>
                        <div class="Typs(body-1-regular) C($c-ds-text-secondary)">When you want to meet local people whether you’re visiting New York City or Chicago, there’s an app for that—and it’s called Tinder. Chat with people near and far with features that let you match around the world. Tinder is your go-to travel buddy. We’ve got you covered in 190 countries, and not even our friends at OKCupid and Plenty of Fish can say that.</div>
                    </article>
                </div>
                <div class="Py(20px)--ml Py(12px) C($c-ds-text-primary) Cntv(a)--s">
                    <article class="Ta(start) My(20px) My(24px)--ml">
                        <h2 class="Typs(display-2-strong) Ta(c) My(20px) My(24px)--ml Ta(start)--ml">Date Safer With Face to Face</h2>
                        <div class="Typs(body-1-regular) C($c-ds-text-secondary)">We’re all eager to meet new people IRL, but dating during COVID-19 means putting your safety first. When six feet apart isn’t enough, Face to Face lets you video chat with your match so you can keep the connection going online.</div>
                    </article>
                </div>
                <div class="Py(20px)--ml Py(12px) C($c-ds-text-primary) Cntv(a)--s">
                    <article class="Ta(start) My(20px) My(24px)--ml">
                        <h2 class="Typs(display-2-strong) Ta(c) My(20px) My(24px)--ml Ta(start)--ml">Connect With People Everywhere</h2>
                        <div class="Typs(body-1-regular) C($c-ds-text-secondary)">Go beyond your distance settings and chat with people around the world with our Passport™ feature. All it takes is an upgrade to a
                            <a class="C($c-ds-text-brand-normal):h Typs(body-1-link) Td(u) focus-outline-style" href="/feature/plus">Tinder Plus®</a> subscription to be able to match anywhere from everywhere.</div>
                    </article>
                </div>
                <div class="Py(20px)--ml Py(12px) C($c-ds-text-primary) Cntv(a)--s">
                    <article class="Ta(start) My(20px) My(24px)--ml">
                        <h2 class="Typs(display-2-strong) Ta(c) My(20px) My(24px)--ml Ta(start)--ml">Matches at Your Fingertips</h2>
                        <div class="Typs(body-1-regular) C($c-ds-text-secondary)">One of the most adult decisions you’ll make is picking a dating app that can offer you all the things your ex couldn’t. And it’s not just as simple as choosing between Badoo or Zoosk. Meeting people online is a journey, and you want someone along for the ride that you can trust. When it comes to making a match, consider the Tinder app your new copilot.</div>
                    </article>
                </div>
                <div class="Py(20px)--ml Py(12px) C($c-ds-text-primary) Cntv(a)--s">
                    <article class="Ta(start) My(20px) My(24px)--ml">
                        <h2 class="Typs(display-2-strong) Ta(c) My(20px) My(24px)--ml Ta(start)--ml">All-Inclusive, All the Time</h2>
                        <div class="Typs(body-1-regular) C($c-ds-text-secondary)">We’re not a fan of labels, so we offer a dating experience designed to connect you with new people outside your usual circles. Unlike sites like Bumble, Tinder doesn’t filter based on height, education, race, or religion because demographics do not define a person. We believe everyone deserves the right to be seen and make the first move no matter how they identify. On our app, we put everyone in front of you and let you choose who you want to chat with.</div>
                    </article>
                </div>
                <div class="Mx(-16px)--s Cntv(a)--s">
                    <div class="react-aspect-ratio-placeholder" style="--aspect-ratio:(750/744)">
                        <img loading="lazy" alt="" src="https://tinder.com/static/build/build-ssg/static/about-3-3b5e5b8aacb6fea6b2fd85fad88149c1.webp">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>
